@font-face {
    font-family: 'Roboto';
    src: url('Roboto-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Math';
    src: url('NotoSansMath-Regular.ttf');
}

@font-face {
    font-family: 'Mordis';
    src: url('Mordis.ttf');
}

body {
    background-image: linear-gradient(to left, whitesmoke, rgb(238, 197, 121));
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.info {
    padding: 7px;
    margin: 10px;
    text-align: center;
    margin-top: -10px;
    border: 2px solid rgba(0, 0, 0, 0.582);
    border-radius: 25px 0 25px 0;
    background-color: rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: whitesmoke;
}

header {
    padding: 3px;
    margin: 3px;
    font-family: 'Mordis';
    font-size: 17px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

header img {
    width: 55px;
    height: 55px;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    margin: 55px 4px 0 4px;
}

form {
    padding: 8px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.568);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 12px;
}

input {
    padding: 5px;
    margin: 3px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 17px;
    margin-bottom: 10px;
    background-color: transparent;
    color: black;
    font-family: 'Math';
}

input:focus {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}

textarea {
    border-radius: 7px;
    padding: 5px;
    margin: 3px;
    font-size: 17px;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    height: 80px;
}

textarea::placeholder {
    font-family: 'Math';
}

.submit {
    margin-top: 20px;
    font-weight: 400;
    background-color: #007bff;
    width: 100px;
    border-radius: 10px;
    font-family: 'Math';
    box-shadow: 0 0 7px rgb(0, 0, 0);
    border-bottom: none;
}

.submit:hover {
    background-color: rgb(7, 91, 139);
    color: white;
    scale: 0.9;
}

footer p{
    font-size: 80%;
    font-weight: 600;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 4px;
    padding: 10px;
}