@font-face {
    font-family: 'Roboto';
    src: url('Roboto-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Math';
    src: url('NotoSansMath-Regular.ttf');
}

@font-face {
    font-family: 'Mordis';
    src: url('Mordis.ttf');
}

body {
    background-image: linear-gradient(to left, whitesmoke, rgb(238, 197, 121));
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.info {
    padding: 3px;
    margin: 10px;
    text-align: center;
    margin-top: -10px;
    border: 1px solid rgba(0, 0, 0, 0.582);
    border-radius: 15px 0 15px 0;
    background-color: rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: whitesmoke;
}

header {
    padding: 3px;
    margin: 3px;
    font-family: 'Mordis';
    font-size: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

header img {
    width: 35px;
    height: 35px;
}

.container {
    margin: 55px 4px 0 4px;
}

form {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.466);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 10px;
}

input {
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    border: none;
    font-size: 17px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    font-family: 'Math';
}

input::placeholder {
    color: rgb(235, 212, 212);
}

textarea {
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    font-size: 17px;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    height: 100px;
}

textarea::placeholder {
    font-family: 'Math';
}

.submit {
    margin-top: 15px;
    font-weight: 600;
    background-color: #007bff;
    width: 150px;
    border-radius: 6px;
    font-family: 'Math';
    box-shadow: 0 0 7px rgb(0, 0, 0);
}

.submit:active {
    background-color: black;
    color: white;
}

footer p{
    font-size: 80%;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    padding: 3px;
}