@font-face {
    font-family: 'Roboto';
    src: url('Roboto-VariableFont_wdth\,wght.ttf');
}

body {
    background-image: url(submit_assignment.jpg);
    background-size: cover;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.top {
    background-color: rgba(78, 74, 70, 0.521);
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 10px rgba(253, 252, 252, 0.87);
    position: absolute;
    top: 0;
    width: 95%;
    padding: 5px;
    margin: 3px;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(78, 74, 70);
    margin-top: 20px;
}
.container {
    width: 95%;
    max-width: 600px;
    background: #dbe0db81;
    padding: 20px;
    margin: 10px;
    margin-top: 80px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.87);
    color: white;
  }

.input {
    width: 93%;
    border-radius: 3px;
    border: none;
    padding: 13px;
    margin: 3px;
    font-size: 16px;
    background-color: rgba(255, 254, 254, 0.897);
    color: black;
    margin-bottom: 10px;
}

.upload { 
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    margin-top: 10px;
    color: black;
    font-weight: 500;
}

.submit {
    margin-top: 15px;
    text-align: center;
    
}

.submit-btn {
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.submit-btn:hover {
    background-color: white;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2px;
    padding: 2px;
    color: white;
    font-size: 70%;
    font-weight: 700;
}
