@font-face {
  font-family: 'Roboto';
  src: url('Roboto-VariableFont_wdth\,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 13px;
    font-size: 15px;
  }

.top {
    position: fixed;
    top: 0;
    background-color: rgba(255, 251, 251, 0.63);
    width: 100%;
    color: black;
    font-family: 'Roboto';
    text-align: center;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    margin: 0;
    box-shadow: 0 0 15px rgb(0, 0, 0);
  }

  .top h3{
    margin-top: 10px;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #e4e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
  }
  
form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(231, 230, 230, 0.473);
    padding: 15px;
    width: 95%;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.945);
}

input {
    border-radius: 5px;
    padding:10px;
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    margin: 1px;
    font-weight: 400;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.986);
}

button {
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
  background-color: rgb(59, 59, 59);
  border: none;
  color: white;
  margin-top: 15px;
  width: 100%;
  font-family: 'Roboto';
  font-size: 17px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.986);
}

button:hover {
  background-color: black;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(73, 210, 219, 0.918);
}

footer {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 70%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 10px;
    color: black;
  }