@font-face {
    font-family: 'Math';
    src: url("NotoSansMath-Regular.ttf");
}

body {
    font-family: 'Math';
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: darkred;
}