@font-face {
    font-family: 'Musician';
    src: url('Musician\ -\ Demo.otf');
}

@font-face {
    font-family: 'Celina Diary';
    src: url('Celina\ Diary\ -\ Personal\ Use.otf')
}

body {
    background-color: rgba(255, 166, 0, 0.568);
    color: white;
    text-align: left;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 8px;
    margin: 3px;
}

.top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.top img {
    display: none;
}

.logo {
    width:30%;
    margin:0px;
    padding: 0px;
}

.home-img {
    width: 30px;
    position:absolute;
    right: 1%;
    display: flex;
}

.the-head {
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 10px;
    margin: 1px;
    padding: 10px;
    margin-top: 10px;
    color: black;
}


.department {
    font-size: 22px;
    font-family: 'Roboto';
    text-align: center;
    font-weight: bold;
}

.semester {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.829);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.966);
    padding: 8px;
    border-radius: 15px;
    border: none;
    margin: 15px 0 5px 0;
}

.levels {
    font-family: 'Roboto';
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    text-align: left;
    margin: 5px;
    padding: 5px;
    margin-top: 20px;
}

.courses {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 15px;
}

.list {
    display: inline-flex;
    gap: 16px;
}

.list a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 6px rgb(255, 255, 255);
    transition: transform 0.3s ease;
    padding: 20px;
    height: 100px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.986);
    background-size: cover;
    text-align: center;
}

.list p {
    padding: 2px;
    margin: 2px;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 800;
}

.list img:hover {
    transform: scale (1.5);
}

.nav-container {
    display: flex;
    gap: 1px;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation {
    width: 30%;
    padding: 10px;
    background-color: transparent;
    color: black;
    cursor:pointer;
    transition: background-color 0.3s ease;
}

.navigation:hover {
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 10px;
    color: rgb(165, 165, 165);
}

.content {
    display: none;
    padding: 2px;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content.active {
    display: block;
}

footer {
    display: none;
}