@font-face {
    font-family: 'Ampher';
    src: url('Ampher.ttf')
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-VariableFont_wdth\,wght.ttf');
}
body {
    background-image: url(books.jpg);
    background-size: cover;
}

header {
    background-color: rgb(8, 253, 253);
    box-shadow: 0 0 15px rgb(255, 255, 255);
    font-family: 'Ampher';
    font-weight: 200;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin: 1px;
    font-size: 13px;
}

.head {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    padding: 3px;
    margin: 3px;
    margin-top: 30px;
    color: white;
}

.department {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 17px;
    padding: 10px;
    margin: 0px;
    margin-top: 30px;
    border: none;
    text-align: center;
}

.explore {
    font-family: 'Roboto';
    font-weight: 300;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 3px;
    padding: 3px;
    font-size: 14px;
}

.explore p {
    text-align: center;
}
.faculties {
    padding: 3px;
    margin: 0px;
}
.faculties p {
    font-family: 'Roboto';
    border-radius: 10px;
    border: none;
    background-color: rgb(66, 66, 66);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    margin: 0px;
    padding: 20px;
    color:aliceblue;
    margin-top: 10px;
    text-align: center;
}

.faculties p:hover {
    background-color: rgba(121, 245, 245, 0.699);
    color: black;
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.content {
    display: none;
    padding: 5px;
    margin: 0px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 15px;
}

.content p {
    background-color: rgba(0, 0, 0, 0.692);
    text-align: left;
    font-size: 14px;
    box-shadow: 0 0 20px rgb(248, 248, 248);
    color: white;
    margin: 5px;
}


.content.active {
    display: block;
}

footer {
    text-align: right;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60%;
    margin: 2px;
    padding: 2px;
}