@font-face {
    font-family: "Roboto";
    src: url('Roboto-VariableFont_wdth\,wght.ttf');
}

body {
    background-color: rgba(233, 227, 227, 0.438);
    padding: 0px;
    margin: 0px;
}

.course {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgb(65, 64, 64);
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.842);
    margin: 0px;
    padding: 12px;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    width: 99%;
}

.course p {
    font-family: 'Roboto';
}

.content {
    margin-top: 400px;
    padding: 1px;
    margin: 1px;
    line-height: 1;
}

.topic {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    background-color: rgba(99, 96, 96, 0.178);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin: 3px;
    margin-top: 20px;
}

.topic:active {
    background-color: rgba(0, 0, 0, 0.527);
    color: rgba(255, 255, 255, 0.788);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.788);
}

.subs{ 
    display: none;
} 

.subs.active {
    display: block;
}

.subs p {
    font-family: 'Roboto';
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    margin-left: 60px;
    background-color: rgba(31, 30, 30, 0.842);
    color: white;
    margin-top: 10px;
    box-shadow: 0 0 7px rgb(255, 255, 255);
}

.subs p:active {
    background-color: rgba(255, 255, 255, 0.37);
    color: rgba(0, 0, 0, 0.699);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.category {
    margin-bottom: 10px;
}

.intro {
    display: flex;
    justify-content: space-between;
}

footer {
    font-family: 'Roboto';
    font-size: 80%;
    font-weight: bold;
    text-align: right;
    color: black;
    margin: 3px 7px 3px 3px;
}