@font-face {
    font-family: 'Mordis';
    src: url('Mordis.ttf');
}

@font-face {
    font-family: 'Math';
    src: url('NotoSansMath-Regular.ttf');
}

body {
    background-image: linear-gradient(to left, whitesmoke, rgb(238, 197, 121));
    margin: 2px;
    padding: 3px;
}

header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-family: 'Mordis';
    text-align: center;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    margin-top: -10px;

}

header img {
    width: 55px;
    height: 55px;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ceo {
    text-align: right;
    padding: 3px;
    margin: 3px;
    margin-top: -25px;
    margin-right: 10px;
}

.ceo img {
    width: 90px;
    border-radius: 50%;
    box-shadow: 0 0 13px rgb(0, 0, 0);
}

.ceo_image {
    transition: transform 0.3s ease-in-out;
}

.zoomed {
    position: relative;
    top: 200px;
    left: -30%;
    border-radius: 2px;
    transform: translate(-50%, -50%) scale(6);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.ceo_image:active {
    transform: scale(2);
    border-radius: 2px;
}

.write-up {
    text-align: justify;
    padding: 5px;
    margin: 1px;
    font-family: 'Math';
    font-size: 16px;
    margin-top: -25px;
}

.sub {
    text-decoration: 3px solid black underline;
}

.shift {
    margin-left: 15px;
    font-size: 15px;
}

footer {
    text-align: right;
    font-size: 70%;
    padding: 3px;
    margin: 3px;
    font-weight: 700;
    font-family: 'Math';
}