@font-face {
    font-family: 'Mordis';
    src: url('Mordis.ttf');
}

@font-face {
    font-family: 'Math';
    src: url('NotoSansMath-Regular.ttf');
}

body {
    background-color: whitesmoke;
    margin: 2px;
    padding: 3px;
}

header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-family: 'Mordis';
    text-align: center;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

header img {
    width: 55px;
    height: 55px;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ceo {
    text-align: right;
    padding: 3px;
    margin: 3px;
    margin-top: -25px;
}

.ceo img {
    width: 140px;
    border-radius: 50%;
}

.write-up {
    text-align: justify;
    padding: 5px;
    margin: 1px;
    font-family: 'Math';
    font-size: 16px;
    margin-top: -25px;
}

.sub {
    text-decoration: 3px solid black underline;
}

.shift {
    margin-left: 15px;
    font-size: 15px;
}

footer {
    text-align: right;
    font-size: 70%;
    padding: 3px;
    margin: 3px;
    font-weight: 700;
    font-family: 'Math';
}