@font-face {
    font-family: 'Roboto';
    src: url('Roboto-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Mordis';
    src: url('Mordis.ttf');
}

@font-face {
    font-family: 'Math';
    src: url('NotoSansMath-Regular.ttf');
}

@font-face {
    font-family: 'LatinMath';
    src: url('latinmodern-math.otf');
}

body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Roboto';
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    padding: 1px;
    padding-bottom: 25px;
    margin: 0;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 183, 255);
    box-shadow: 0 0 20px rgb(3, 3, 3);
    gap: 1;
    color: black;
    line-height: 0.4;
}

.name {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 0 0 0 10px;
}

.name img {
    width: 42px;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from { 
        transfrom: rotate (0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.name p {
    font-family: 'Mordis';
    font-size: 24px;
}

.write-up {
    margin-bottom: 40px;
}

.first {
    margin: 12px;
    background-color:rgb(255, 255, 255);
    padding: 2px 10px 5px 10px;
    border-radius: 6px;
    text-align: justify;
    font-size: 15px;
    margin-top: 105px;
    font-weight: 500;
    line-height: 2;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.829);
}

.continuation {
    margin: 12px;
    background-color:rgb(255, 255, 255);
    padding: 2px 10px 5px 10px;
    border-radius: 6px;
    text-align: justify;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 2;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.829);
}

.numbers {
    font-family: 'Math';
    font-weight: 400;
}

.shift {
    margin-left: 10px;
}

footer {
    font-family: "Roboto";
    font-size: 11px;
    text-align: left;
    margin: 3px;
    padding: 3px;
    font-weight: 600;
}

.ask-question {
    position: fixed;
    bottom: 20px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 0 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.842);
    align-items: center;
    gap: 6px;
    border-radius: 20px 0 0 20px;
    font-family: 'Roboto';
    font-style: oblique;
}

.ask-question img {
    width: 30px;
    height: 30px;
}
