@font-face {
    font-family: 'Roboto';
    src: url('Roboto-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Math';
    src: url('NotoSansMath-Regular.ttf');
}

body {
    background-image: linear-gradient(to left, whitesmoke, rgb(238, 197, 121));
    color: black;
    padding: 1px;
}

header {
    font-family: 'Math';
    font-size: 100%;
    margin:1px;
    font-weight: 800;
    padding: 2px;
}

.genre {
    font-family: 'Math';
    font-size: 100%;
    padding: 2px;
    margin: 1px;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 11px;
    justify-content:space-around;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 19px;
}

.navigation {
    width: 100%;
    padding: 9px;
    color: white;
    cursor:pointer;
    transition: background-color 0.2s ease;
    font-family: 'Math';
    margin: 2px;
    background-color: rgba(11, 147, 226, 0.76);
    border-radius: 15px;
    border: none;
    flex-basis: 100%;
    justify-content: space-between;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.navigation:active {
    background-color: rgb(97, 92, 102);
    border-radius: 15px;
    border: none;
    scale: 1.1;
}

.novels {
    font-family: 'Math';
    font-weight: bold;
    padding: 5px;
    margin: 3px;
    margin-bottom: 10px;
}
.content {
    display: none;
    margin-top: 20px;
    padding: 2px;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

img {
    font-family: 'Roboto';
    font-size: 12px;
}

.content.active {
    display: block;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    text-align: left;
}

.list img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.973);
}

footer {
    margin: 0px;
    padding: 2px;
    color: black;
    text-align: right;
    font-family: 'Roboto';
    font-size: 80%;
    color: black;
    font-weight: bold;
}