@font-face {
    font-family: 'Roboto';
    src: url('Roboto-VariableFont_wdth\,wght.ttf');
}

body {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    padding: 1px;
}

header {
    font-family: 'Roboto';
    font-size: 100%;
    margin:1px;
    font-weight: 800;
    padding: 2px;
}

.genre {
    font-family: 'Roboto';
    font-size: 100%;
    padding: 2px;
    margin: 1px;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 11px;
    justify-content:space-around;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 19px;
}

.navigation {
    width: 100%;
    padding: 9px;
    color: white;
    cursor:pointer;
    transition: background-color 0.2s ease;
    font-family: 'Roboto';
    margin: 2px;
    background-color: rgba(7, 116, 179, 0.548);
    border-radius: 10px;
    border: none;
    flex-basis: 100%;
    justify-content: space-between;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.navigation:hover {
    background-color: rgb(97, 92, 102);
    border-radius: 15px;
    border: none;
}

.novels {
    font-family: 'Roboto';
    font-weight: bold;
    padding: 5px;
    margin: 3px;
    margin-bottom: 10px;
}
.content {
    display: none;
    margin-top: 20px;
    padding: 2px;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
    font-family: 'Roboto';
    font-size: 12px;
}

.content.active {
    display: block;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    text-align: left;
}

.list img {
    width: 85px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.973);
}

footer {
    margin: 0px;
    padding: 2px;
    color: black;
    text-align: right;
    font-family: 'Roboto';
    font-size: 80%;
    color: white;
    font-weight: bold;
}