@font-face {
    font-family: 'NunitoSans';
    src: url('NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

@font-face {
    font-family: 'Mordis';
    src: url('Mordis.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to left, black,rgb(58, 56, 56), rgb(55, 55, 63));
    margin: 0;
    padding: 0;
}

.intro {
    position: fixed;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 2px rgb(255, 255, 255);
    color: rgb(196, 190, 190);
    margin-top: 10px;
    font-size: 55px;
    font-family: 'NunitoSans';
    font-weight: 600;
}

.intro img {@font-face {
    font-family: 'NunitoSans';
    src: url('NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

@font-face {
    font-family: 'Mordis';
    src: url('Mordis.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to left, black,rgb(58, 56, 56), rgb(55, 55, 63));
    margin: 0;
    padding: 0;
}

.intro {
    position: fixed;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 2px rgb(255, 255, 255);
    color: rgb(196, 190, 190);
    margin-top: 10px;
    font-size: 55px;
    font-family: 'NunitoSans';
    font-weight: 600;
}

.intro img {
    width: 80px;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    gap: 20px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 49px;
    font-weight: 700;
    justify-content: space-evenly;
    opacity: 1;
    padding: 5px;
}

.games {
    display: flex;
    align-items: center;
    font-family: 'NunitoSans';
    text-shadow: 0 0 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: none;
    /*background-image: linear-gradient(to right, rgb(9, 121, 196), rgb(4, 81, 197), rgb(4, 4, 133));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.247);*/
    transition: 0.3s ease-in;
}

.games:hover {
    scale: 0.9;
    border-radius: 10px;
    text-shadow: 0 0 2px rgb(255, 255, 255);
    color: rgb(185, 181, 181);
    /*background-image: linear-gradient(to right, rgb(2, 48, 78), rgb(7, 40, 90), rgb(63, 63, 216));*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);*/
}

.games img {
    display: none;
    width: 45%;
}

.education {
    display: flex;
    align-items: center;
    font-family: 'NunitoSans';
    text-shadow: 0 0 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    /*background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(37, 36, 36), rgb(65, 63, 63));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.247);*/
    transition: 0.3s ease-in-out;
}

.education:hover {
    scale: 0.9;
    color: rgb(189, 183, 183);
    /*background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(65, 62, 62), rgb(121, 117, 117));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);*/
}

.education img {
    display: none;
    width: 55%;
    height: 85%;
}

footer {
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: 'NunitoSans';
    color: white;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
}
    width: 80px;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    gap: 20px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-size: 49px;
    font-weight: 700;
    justify-content: space-evenly;
    opacity: 1;
    padding: 5px;
}

.games {
    display: flex;
    align-items: center;
    font-family: 'NunitoSans';
    text-shadow: 0 0 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: none;
    /*background-image: linear-gradient(to right, rgb(9, 121, 196), rgb(4, 81, 197), rgb(4, 4, 133));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.247);*/
    transition: 0.3s ease-in;
}

.games:hover {
    scale: 0.9;
    border-radius: 10px;
    text-shadow: 0 0 2px rgb(255, 255, 255);
    color: rgb(185, 181, 181);
    /*background-image: linear-gradient(to right, rgb(2, 48, 78), rgb(7, 40, 90), rgb(63, 63, 216));*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);*/
}

.games img {
    display: none;
    width: 45%;
}

.education {
    display: flex;
    align-items: center;
    font-family: 'NunitoSans';
    text-shadow: 0 0 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    /*background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(37, 36, 36), rgb(65, 63, 63));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.247);*/
    transition: 0.3s ease-in-out;
}

.education:hover {
    scale: 0.9;
    color: rgb(189, 183, 183);
    /*background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(65, 62, 62), rgb(121, 117, 117));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);*/
}

.education img {
    display: none;
    width: 55%;
    height: 85%;
}

footer {
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: 'NunitoSans';
    color: white;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
}
