@font-face {
    font-family: 'NunitoSans';
    src: url('NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}


body {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to left, black,rgb(58, 56, 56), rgb(55, 55, 63))
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(196, 190, 190);
    margin-top: 10px;
    font-size: 49px;
    text-shadow: 0 0 2px rgb(255, 255, 255);
    font-family: 'NunitoSans';
    font-weight: 600;
}

.intro img {
    width: 80px;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    gap: 30px;
}

#main {
    height: 30vh;
    width: 50vh;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    opacity: 1;
}

.games {
    display: flex;
    align-items: center;
    font-family: 'NunitoSans';
    color: white;
    background-image: linear-gradient(to right, rgb(9, 121, 196), rgb(4, 81, 197), rgb(4, 4, 133));
    box-shadow: 0 0 10px rgb(12, 12, 12);
    border: none;
    border-radius: 13px;
    transition: 0.1s ease-in;
    gap: 20px;
}

.games:active {
    scale: 0.9;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(2, 48, 78), rgb(7, 40, 90), rgb(63, 63, 216));
    display: flex;
    flex-direction: row-reverse;
}

.games img {
    width: 140px;
}

.education {
    display: flex;
    align-items: center;
    font-family: 'NunitoSans';
    color: white;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(65, 62, 62), rgb(121, 117, 117));
    box-shadow: 0 0 10px rgb(12, 12, 12);
    border: none;
    border-radius: 13px;
    transition: 0.1s ease-in-out;
    gap: 20px;
}

.education:active {
    scale: 0.9;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(37, 36, 36), rgb(65, 63, 63));
}

.education img {
    width: 130px;
    height: 120px;
}

footer {
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: 'NunitoSans';
    color: white;
}