@font-face {
    font-family: 'Math';
    src: url('NotoSansMath-Regular.ttf');
}

@font-face {
    font-family: 'Mordis';
    src: url('Mordis.ttf');
}

body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.main-img {
    width: 40px;
    margin-bottom: 10px;
}

.middle {
    margin-top: 210px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    background-color: rgba(135, 205, 226, 0.596);
    box-shadow: 0 0 10px black;
    padding: 20px;
    border-radius: 14px;
    width: 80%;
}

.middle p {
    font-family: 'Mordis';
    font-weight: 100;
    font-size: 17px;
}

.first-name {
    letter-spacing: 7px;
    opacity: 100;
}

.name {
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: -1;
    margin-top: -20px;
}

.second-name {
    margin-top: -5px;
    font-weight: 0;
}

.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottom-img {
    width: 40px;
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    border: none;
    box-shadow: 0 0 5px black;
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 7px;
    font-family: 'Math';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

button:active {
    scale: 0.9;
    background: rgb(0, 140, 255);
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1px 15px 1px 0px;
    padding: 10px;
    font-family: 'Math';
    font-weight: 800;
    font-size: 15px;
    color: black;
}