@font-face {
    font-family: 'Math';
    src: url('NotoSansMath-Regular.ttf');
}

@font-face {
    font-family: 'Mordis';
    src: url('Mordis.ttf');
}

body {
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

img {
    width: 130px;
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.middle {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}

.middle p {
    font-family: 'Mordis';
    font-weight: 200;
    font-size: 17px;
}

h1 {
    position: fixed;
    top: 0;
    left: 0;
    margin: 7px 1px 1px 16px;
    font-family: 'Mordis';
    font-weight: 400;
    font-size: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1px 15px 1px 0px;
    padding: 0px;
    font-family: 'Math';
    font-weight: 600;
    font-size: 14px;
}