@font-face {
    font-family: 'Quickless';
    src: url('Quickless.ttf') format('truetype');
}

body {
    background-image: url(welcome.jpg);
    background-size: cover;
    overflow: hidden;
    align-items: center;
}

.container {
    background-color: rgba(24, 165, 99, 0.548);
    font-family: 'Quickless';
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    text-align: center;
    position: absolute;
    right: -100px;
    bottom: 10px;
    animation: moveLeft 4s ease-in-out forwards;
    box-shadow: 0 0 10px rgba(250, 250, 250, 0.705);
}

@keyframes moveLeft {
    0% {
        right: -500px;
    }
    100% {
        right: 5%;
    }
}

button {
    background-color: rgba(20, 124, 165, 0.705);
    border: none;
    border-radius: 15px;
    padding: 7px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 20px rgba(41, 36, 36, 0.863);
}

.second {
    padding: 5px;
    line-height: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}