@font-face {
    font-family: 'Math';
    src: url('NotoSansMath-Regular.ttf');
}

* {
    font-family: 'Math';
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-image: linear-gradient(to right, whitesmoke, rgb(238, 197, 121));
}
.container {
    width: 80%;
    max-width: 100vh;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
input {
    width: 93%;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 7px;
    border: 1px solid black;
}
button {
    width: 100px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: rgb(19, 174, 221);
    font-size: 16px;
    font-weight: 400;
}

button:hover {
    scale: 0.95;
    background-color: rgb(0, 110, 255);
}

.hidden {
    display: none;
}
.warning {
    color: red;
    font-weight: bold;
}
#timer, #cheatingTimer {
    font-size: 18px;
    font-weight: bold;
    color: blue;
}
#userGuess:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    font-family: 'Math';
}